* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  background: #F0ECCF;
}

body::-webkit-scrollbar {
  background-color: #F0ECCF;
  width: 0.5vw;
}

body::-webkit-scrollbar-thumb {
  background-color: #A3BB98;
  border-radius: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  height: 80px;
  line-height: 80px;
  position: relative;
}
.navbar #check {
  display: none;
}
.navbar img {
  cursor: pointer;
  position: relative;
  z-index: 12;
  max-width: 200px;
  width: 100%;
  background-color: #F0ECCF;
}
.navbar label {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.navbar label #kuncinav {
  position: absolute;
  top: 35%;
  left: 205px;
  transform-origin: center;
  transition: transform 0.5s;
}
.navbar ul {
  position: absolute;
  z-index: 9;
  left: 20px;
  font-size: smaller;
  transition: 0.5s;
}
.navbar ul li {
  display: inline-block;
  margin: 0;
  font-weight: 800;
}
.navbar ul li a {
  z-index: 12;
  font-size: 1px;
  transition: 0.5s;
}
@media (min-width: 700px) {
  .navbar #kuncinav {
    transform: rotate(0deg);
  }
  .navbar #check:checked ~ ul {
    left: 200px;
    font-size: larger;
    display: inline-block;
  }
  .navbar #check:checked ~ ul li {
    margin: 0 30px;
  }
  .navbar #check:checked ~ ul li a {
    font-size: 20px;
  }
  .navbar ul li a:hover {
    color: #FFB100;
  }
}
@media (max-width: 699px) {
  .navbar #kuncinav {
    transform: rotate(90deg);
  }
  .navbar ul {
    position: absolute;
    top: 0px;
    background-color: #FFB100;
    max-width: 170px;
    text-align: center;
    height: 10px;
    border-radius: 25px;
    right: 0;
    border: 1px solid lime;
    display: inline-block;
  }
  .navbar #check:checked ~ ul {
    height: 243px;
    top: 80px;
  }
  .navbar #check:checked ~ ul li {
    display: block;
  }
  .navbar #check:checked ~ ul li:hover {
    background-color: #FBC252;
  }
  .navbar #check:checked ~ ul li a {
    font-size: 20px;
  }
  .navbar #firstlist {
    border-radius: 25px 25px 0 0;
  }
  .navbar #lastlist {
    border-radius: 0 0 25px 25px;
  }
}
.navbar p {
  cursor: pointer;
}
.navbar p i {
  border-radius: 50px;
  border: 5px solid black;
  padding: 10px;
}
.navbar p i:hover {
  border-color: #FFB100;
  color: #FFB100;
}

.kotakgambar {
  width: 100%;
  background-image: linear-gradient(rgba(255, 177, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-photo/entrepreneur-startup-business-owner-attractive-asian-female-business-woman-communication-with-smartphone-laptop-white-dress-cheerful-smile-with-confience-blur-office-background_609648-366.jpg?w=1800&t=st=1672978750~exp=1672979350~hmac=bee6e2d151733a4ced3e3da7d271315bc8305b2d8b3740b07ecc924446127b78");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  display: grid;
  place-items: center;
  box-shadow: 10px 10px 15px inset #F0ECCF, -10px -10px 15px inset #F0ECCF, 10px -10px 15px inset #F0ECCF, -10px 10px 15px inset #F0ECCF;
  border-radius: 30px;
}
.kotakgambar .thumbnail {
  position: relative;
  width: 80%;
  height: 450px;
  text-align: center;
  margin: auto 0;
}
.kotakgambar .thumbnail img {
  max-height: 200px;
  height: 100%;
  min-width: 20%;
  border-radius: 100%;
  box-shadow: 10px 10px 20px #F0ECCF;
  margin: 20px auto;
}
.kotakgambar .thumbnail p {
  text-align: center;
  max-height: 300px;
  margin: auto;
  overflow-y: hidden;
  color: white;
}

.container1 {
  border: 1px solid black;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container1 .box {
  max-width: 350px;
  text-align: center;
  background-color: #FFB100;
  border-radius: 25px;
  margin: 20px;
  max-height: 400px;
  box-shadow: 5px 5px 10px black;
}
.container1 .box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}
.container1 .box .infobox p {
  font-size: 90%;
  margin: 10px;
  margin-bottom: 40px;
}
@media (max-width: 1298px) {
  .container1 .box {
    max-width: 40%;
    margin: 10px auto;
  }
}
@media (max-width: 871px) {
  .container1 .box {
    margin: 10px;
    max-width: 40%;
    min-width: 250px;
    max-height: 400px;
  }
}
@media (max-width: 603px) {
  .container1 .box {
    min-width: 90%;
  }
}

.container2 {
  background-color: #FFB100;
  color: #ffb300;
  min-height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 177, 0, 0.7), rgb(75, 73, 68)), url("https://as1.ftcdn.net/v2/jpg/03/71/80/38/1000_F_371803863_3WvXDoZuAc1uTopRvgULnnukCr7jlsmf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  box-shadow: 10px 10px 15px inset #F0ECCF, -10px -10px 15px inset #F0ECCF, 10px -10px 15px inset #F0ECCF, -10px 10px 15px inset #F0ECCF;
  border-radius: 30px;
}
.container2 .content2 {
  margin: 20px;
  text-align: center;
  width: 85%;
  font-weight: 900;
  font-size: 120%;
  color: #F0ECCF;
  overflow-y: auto;
}

.container3 {
  background-color: #A3BB98;
  min-height: 150px;
  display: grid;
  place-items: center;
}
.container3 .content3 {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 80px;
}
.container3 .content3 img {
  max-width: 200px;
  height: 100px;
}
@media (max-width: 600px) {
  .container3 .content3 img {
    max-width: 150px;
    height: 80px;
  }
}
.container3 .content3 a {
  cursor: pointer;
  line-height: 100px;
}

.kumpulbox {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: -10px -10px inset #F0ECCF, 10px 10px inset #F0ECCF;
  position: relative;
  z-index: 1;
}
.kumpulbox .box {
  max-width: 350px;
  text-align: center;
  background-color: #FFB100;
  border-radius: 25px;
  margin: 20px;
  max-height: 400px;
  box-shadow: 5px 5px 10px black;
  position: relative;
  z-index: 1;
}
.kumpulbox .box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  background-color: #F0ECCF;
  position: relative;
  z-index: 2;
}
.kumpulbox .box .tempatgambar {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  place-items: center;
  max-height: 200px;
  height: 100%;
  border-radius: 25px 25px 0 0;
}
.kumpulbox .box .tempatgambar i {
  color: white;
  font-size: 2rem;
  position: absolute;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.kumpulbox .box .tempatgambar:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.kumpulbox .box .tempatgambar:hover i {
  opacity: 1;
}
.kumpulbox .box .infobox {
  border-radius: 0 0 25px 25px;
  width: 100%;
  height: 150px;
  overflow-y: auto;
}
.kumpulbox .box .infobox #title {
  word-wrap: break-word;
  width: 100%;
}
.kumpulbox .box .infobox::-webkit-scrollbar {
  background-color: none;
  width: 0.1vw;
}
.kumpulbox .box .infobox::-webkit-scrollbar-track {
  background-color: green;
  height: 10px;
  margin-bottom: 25px;
  border-radius: 100px;
}
.kumpulbox .box .infobox::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #FFB100;
}
@media (max-width: 1298px) {
  .kumpulbox .box {
    width: 40%;
    margin: 10px auto;
  }
}
@media (max-width: 871px) {
  .kumpulbox .box {
    margin: 10px;
    max-width: 40%;
    min-width: 250px;
    max-height: 400px;
  }
}
@media (max-width: 603px) {
  .kumpulbox .box {
    min-width: 90%;
  }
}

.kumpulbox::-webkit-scrollbar {
  display: none;
}

.creatediv {
  text-align: center;
}
.creatediv form {
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  min-height: 500px;
  padding: 20px;
}
.creatediv form input {
  margin: 20px 5px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  max-width: 250px;
  width: 100%;
}
.creatediv form textarea {
  margin: 20px auto;
  border-radius: 30px;
  border: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  text-align: center;
}
.creatediv form textarea::-webkit-scrollbar {
  width: 0.5vw;
}
.creatediv form textarea::-webkit-scrollbar-track {
  background-color: none;
  height: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 100px;
}
.creatediv form textarea::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #A3BB98;
}
.creatediv form button {
  margin: 20px 10px;
  border-radius: 30px;
  border: none;
  padding: 10px;
  width: 150px;
  font-weight: 900;
  cursor: pointer;
  background-color: #A3BB98;
}

.isiblog .wrapperisi {
  padding: 20px;
}
.isiblog .wrapperisi .infoblog {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #A3BB98;
  border-radius: 30px;
  text-align: center;
  width: 80%;
}
.isiblog .wrapperisi .infoblog p {
  margin: 10px 20px;
}
.isiblog .wrapperisi .infoblog p #identitasblog {
  font-weight: 900;
  font-style: italic;
}
.isiblog .wrapperisi .blognya {
  border-radius: 30px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  background-color: #eeedde;
  box-shadow: 5px 5px 10px black;
  max-height: 700px;
  overflow: auto;
}
.isiblog .wrapperisi .blognya::-webkit-scrollbar {
  background-color: none;
  width: 0.5vw;
}
.isiblog .wrapperisi .blognya::-webkit-scrollbar-thumb {
  background-color: #A3BB98;
  border-radius: 100px;
}
.isiblog .wrapperisi .blognya::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hapusblog {
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 4;
}
.hapusblog form {
  display: grid;
  place-items: center;
  margin: 7rem auto;
  width: 95%;
}
.hapusblog form #email {
  text-align: center;
  border: none;
  padding: 20px;
  border-radius: 30px;
  margin: 30px 10px;
  width: 85%;
}
.hapusblog form #id {
  display: none;
}
.hapusblog form button {
  cursor: pointer;
  font-size: 100%;
  margin: auto;
  width: 30%;
  background-color: #A3BB98;
  border-radius: 30px;
  border: none;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
